USE [master]
GO
/****** Object:  Database [RAPITUBE]    Script Date: 4/2/2025 18:35:07 ******/
CREATE DATABASE [RAPITUBE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RAPITUBE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RAPITUBE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RAPITUBE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RAPITUBE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RAPITUBE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RAPITUBE]
GO
/****** Object:  User [RapiTubeUser]    Script Date: 4/2/2025 18:35:07 ******/
CREATE USER [RapiTubeUser] FOR LOGIN [RapiTubeUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [RapiTubeUser]
GO
/****** Object:  Table [dbo].[ANUNCIO]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANUNCIO](
	[ID_ANUNCIO] [int] IDENTITY(1,1) NOT NULL,
	[MARCA] [varchar](30) NULL,
	[DESCRIPCION] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ANUNCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[ID_COMENTARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_VIDEO] [int] NOT NULL,
	[FECHA_COMENTARIO] [date] NULL,
	[TEXTO] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_VIDEO] ASC,
	[ID_COMENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[ID_PERFIL] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FOTO] [varchar](255) NULL,
	[DESCRIPCION] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECOMIEDA]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECOMIEDA](
	[ID_VIDEO] [int] NOT NULL,
	[ID_VIDEO_RECOMENDADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VIDEO] ASC,
	[ID_VIDEO_RECOMENDADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUSCRITO]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSCRITO](
	[ID_USUARIO] [int] NOT NULL,
	[ID_SEGUIDO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_SEGUIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAGS]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAGS](
	[ID_VIDEO] [int] NOT NULL,
	[TAG] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VIDEO] ASC,
	[TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](30) NOT NULL,
	[CORREO] [varchar](30) NOT NULL,
	[CONTRASENHA] [nvarchar](255) NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PREMIUM]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PREMIUM](
	[ID_USUARIO] [int] NOT NULL,
	[INICIO_PREMIUM] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_REGULAR]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_REGULAR](
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE_ANUNCIO]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE_ANUNCIO](
	[ID_USUARIO] [int] NOT NULL,
	[ID_ANUNCIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_ANUNCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO](
	[ID_VIDEO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NULL,
	[TITULO] [varchar](255) NULL,
	[LIKES] [int] NULL,
	[DISLIKES] [int] NULL,
	[MINUTOS] [int] NULL,
	[SEGUNDOS] [int] NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[FECHA_SUBIDO] [date] NULL,
	[ARCHIVO_VIDEO] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VIDEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VISUALIZACION]    Script Date: 4/2/2025 18:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISUALIZACION](
	[ID_USUARIO] [int] NOT NULL,
	[ID_VIDEO] [int] NOT NULL,
	[FECHA_VISUALIZACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_VIDEO] ASC,
	[FECHA_VISUALIZACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANUNCIO] ON 

INSERT [dbo].[ANUNCIO] ([ID_ANUNCIO], [MARCA], [DESCRIPCION]) VALUES (1, N'Kike', N'Descubre la nueva colección de zapatillas deportivas para el rendimiento máximo.')
INSERT [dbo].[ANUNCIO] ([ID_ANUNCIO], [MARCA], [DESCRIPCION]) VALUES (2, N'Ardidas', N'Innovación y estilo en cada paso. Nuevos modelos disponibles ahora.')
INSERT [dbo].[ANUNCIO] ([ID_ANUNCIO], [MARCA], [DESCRIPCION]) VALUES (3, N'Gamsung', N'Lleva tu tecnología al siguiente nivel con el nuevo Galaxy.')
SET IDENTITY_INSERT [dbo].[ANUNCIO] OFF
GO
SET IDENTITY_INSERT [dbo].[COMENTARIO] ON 

INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_USUARIO], [ID_VIDEO], [FECHA_COMENTARIO], [TEXTO]) VALUES (1, 2, 1, CAST(N'2024-11-21' AS Date), N'Excelente info')
INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_USUARIO], [ID_VIDEO], [FECHA_COMENTARIO], [TEXTO]) VALUES (3, 3, 1, CAST(N'2024-11-27' AS Date), N'Buenisimo')
INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_USUARIO], [ID_VIDEO], [FECHA_COMENTARIO], [TEXTO]) VALUES (2, 4, 1, CAST(N'2024-11-27' AS Date), N':))')
SET IDENTITY_INSERT [dbo].[COMENTARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERFIL] ON 

INSERT [dbo].[PERFIL] ([ID_PERFIL], [ID_USUARIO], [FOTO], [DESCRIPCION]) VALUES (1, 1, N'07e9d441-17b0-468d-9ce2-1c12656fcaef_TeamCanguro.jpg', N'Soy Admin')
INSERT [dbo].[PERFIL] ([ID_PERFIL], [ID_USUARIO], [FOTO], [DESCRIPCION]) VALUES (2, 2, N'82df5b00-773a-44c7-89ad-763f39e96388_TeamCanguro.jpg', N'ADMIN 2.0')
INSERT [dbo].[PERFIL] ([ID_PERFIL], [ID_USUARIO], [FOTO], [DESCRIPCION]) VALUES (3, 3, N'e8adbee1-6631-4352-922a-8fc5f72e9a92_Consultor.png', N'MEDIO ADMIN')
SET IDENTITY_INSERT [dbo].[PERFIL] OFF
GO
INSERT [dbo].[RECOMIEDA] ([ID_VIDEO], [ID_VIDEO_RECOMENDADO]) VALUES (1, 3)
INSERT [dbo].[RECOMIEDA] ([ID_VIDEO], [ID_VIDEO_RECOMENDADO]) VALUES (1, 7)
INSERT [dbo].[RECOMIEDA] ([ID_VIDEO], [ID_VIDEO_RECOMENDADO]) VALUES (3, 1)
GO
INSERT [dbo].[SUSCRITO] ([ID_USUARIO], [ID_SEGUIDO]) VALUES (1, 3)
INSERT [dbo].[SUSCRITO] ([ID_USUARIO], [ID_SEGUIDO]) VALUES (2, 1)
INSERT [dbo].[SUSCRITO] ([ID_USUARIO], [ID_SEGUIDO]) VALUES (3, 1)
GO
INSERT [dbo].[TAGS] ([ID_VIDEO], [TAG]) VALUES (1, N'AERG')
INSERT [dbo].[TAGS] ([ID_VIDEO], [TAG]) VALUES (1, N'INFORMACION')
INSERT [dbo].[TAGS] ([ID_VIDEO], [TAG]) VALUES (3, N'INFORMACION')
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CORREO], [CONTRASENHA], [FECHA_INGRESO]) VALUES (0, N'USUARIO INVITADO', N'anonimo@example.com', N'INVITADO', CAST(N'2024-11-20' AS Date))
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CORREO], [CONTRASENHA], [FECHA_INGRESO]) VALUES (1, N'Gabs', N'itsgabs@gmail.com', N'$2a$10$1Fyqi8MQWc0uzT.cSeu2m.khr2Bq7czIX9vxufc4vHqv/OQ5Oy9mC', CAST(N'2024-11-21' AS Date))
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CORREO], [CONTRASENHA], [FECHA_INGRESO]) VALUES (2, N'Josh', N'josh@gmail.com', N'$2a$10$uCHAJ8k15Ik8Uo6YKDDCFuFj1Z1Z0lBVDzLD7LcXjGKy4hDe8fKxa', CAST(N'2024-11-21' AS Date))
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
INSERT [dbo].[USUARIO_PREMIUM] ([ID_USUARIO], [INICIO_PREMIUM]) VALUES (1, CAST(N'2024-11-21' AS Date))
INSERT [dbo].[USUARIO_PREMIUM] ([ID_USUARIO], [INICIO_PREMIUM]) VALUES (2, CAST(N'2024-11-21' AS Date))
INSERT [dbo].[USUARIO_PREMIUM] ([ID_USUARIO], [INICIO_PREMIUM]) VALUES (5, CAST(N'2024-11-28' AS Date))
GO
INSERT [dbo].[USUARIO_REGULAR] ([ID_USUARIO]) VALUES (3)
INSERT [dbo].[USUARIO_REGULAR] ([ID_USUARIO]) VALUES (4)
GO
INSERT [dbo].[VE_ANUNCIO] ([ID_USUARIO], [ID_ANUNCIO]) VALUES (3, 2)
INSERT [dbo].[VE_ANUNCIO] ([ID_USUARIO], [ID_ANUNCIO]) VALUES (3, 3)
INSERT [dbo].[VE_ANUNCIO] ([ID_USUARIO], [ID_ANUNCIO]) VALUES (3, 5)
GO
SET IDENTITY_INSERT [dbo].[VIDEO] ON 

INSERT [dbo].[VIDEO] ([ID_VIDEO], [ID_USUARIO], [TITULO], [LIKES], [DISLIKES], [MINUTOS], [SEGUNDOS], [DESCRIPCION], [FECHA_SUBIDO], [ARCHIVO_VIDEO]) VALUES (1, 1, N'AERG', 3, 2, 0, 0, N'Informacion basica de contacto de la AERG', CAST(N'2024-11-21' AS Date), N'73fc4c73-93bd-4e82-9a4a-09ee5ebffd7a_ASOCIACION DE ESTUDIANTES DEL RECINTO DE GUAPILES(extendido).mp4')
INSERT [dbo].[VIDEO] ([ID_VIDEO], [ID_USUARIO], [TITULO], [LIKES], [DISLIKES], [MINUTOS], [SEGUNDOS], [DESCRIPCION], [FECHA_SUBIDO], [ARCHIVO_VIDEO]) VALUES (3, 3, N'AERG Extendido', 2, 0, 0, 0, N'Version extendida', CAST(N'2024-11-21' AS Date), N'9d2f84ea-6996-45c8-951b-401691df16fb_ASOCIACION DE ESTUDIANTES DEL RECINTO DE GUAPILES(extendido).mp4')
INSERT [dbo].[VIDEO] ([ID_VIDEO], [ID_USUARIO], [TITULO], [LIKES], [DISLIKES], [MINUTOS], [SEGUNDOS], [DESCRIPCION], [FECHA_SUBIDO], [ARCHIVO_VIDEO]) VALUES (4, 1, N'Jugada de LoL', 3, 1, 0, 0, N'Me salieron manos', CAST(N'2024-11-21' AS Date), N'fca459aa-48b7-41b0-8233-60fb73c8a6bf_League of Legends (TM) Client 2023-02-21 20-22-02.mp4')
SET IDENTITY_INSERT [dbo].[VIDEO] OFF
GO
INSERT [dbo].[VISUALIZACION] ([ID_USUARIO], [ID_VIDEO], [FECHA_VISUALIZACION]) VALUES (0, 1, CAST(N'2024-11-21T00:04:17.893' AS DateTime))
INSERT [dbo].[VISUALIZACION] ([ID_USUARIO], [ID_VIDEO], [FECHA_VISUALIZACION]) VALUES (0, 1, CAST(N'2024-11-21T00:04:20.100' AS DateTime))
INSERT [dbo].[VISUALIZACION] ([ID_USUARIO], [ID_VIDEO], [FECHA_VISUALIZACION]) VALUES (0, 1, CAST(N'2024-11-21T00:04:21.720' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__1E139900D6BB6BBD]    Script Date: 4/2/2025 18:35:07 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__264F33C871802E5A]    Script Date: 4/2/2025 18:35:07 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VIDEO] ADD  DEFAULT ((0)) FOR [LIKES]
GO
ALTER TABLE [dbo].[VIDEO] ADD  DEFAULT ((0)) FOR [DISLIKES]
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD FOREIGN KEY([ID_VIDEO])
REFERENCES [dbo].[VIDEO] ([ID_VIDEO])
GO
ALTER TABLE [dbo].[PERFIL]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[RECOMIEDA]  WITH CHECK ADD FOREIGN KEY([ID_VIDEO])
REFERENCES [dbo].[VIDEO] ([ID_VIDEO])
GO
ALTER TABLE [dbo].[RECOMIEDA]  WITH CHECK ADD FOREIGN KEY([ID_VIDEO_RECOMENDADO])
REFERENCES [dbo].[VIDEO] ([ID_VIDEO])
GO
ALTER TABLE [dbo].[SUSCRITO]  WITH CHECK ADD FOREIGN KEY([ID_SEGUIDO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[SUSCRITO]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TAGS]  WITH CHECK ADD FOREIGN KEY([ID_VIDEO])
REFERENCES [dbo].[VIDEO] ([ID_VIDEO])
GO
ALTER TABLE [dbo].[USUARIO_PREMIUM]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO_REGULAR]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VE_ANUNCIO]  WITH CHECK ADD FOREIGN KEY([ID_ANUNCIO])
REFERENCES [dbo].[ANUNCIO] ([ID_ANUNCIO])
GO
ALTER TABLE [dbo].[VE_ANUNCIO]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO_REGULAR] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VIDEO]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VISUALIZACION]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VISUALIZACION]  WITH CHECK ADD FOREIGN KEY([ID_VIDEO])
REFERENCES [dbo].[VIDEO] ([ID_VIDEO])
GO
USE [master]
GO
