
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div class="perfil-containerC">
       <h2 th:text="'Perfil de Usuario: ' + ${username}"></h2>
        <form action="/createProfile" method="post" enctype="multipart/form-data">    
            <!-- Campo oculto para pasar el nombre de usuario -->
            <input type="hidden" id="username" name="username" th:value="${username}">
            
            <label for="foto">Foto de Perfil:</label>
            <input type="file" id="foto" name="foto" accept="image/*" required>
            
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="3"></textarea>
            
            <label for="premium">¿Quieres ser Premium?</label>
            <input type="checkbox" id="premium" name="premium" value = "true">
            
            <button type="submit">Guardar Perfil</button>
        </form>
    </div>
</body>
</html>

